@import 'mixins';

[id*='formxtra-cf7-'] {
    @include borderBG;

    &:hover {
        @include borderBG;

        a {
            color: #fff !important;
        }

    }

    &.ui-tabs-active {
        @include borderBG;
    }

    h2 {
        font-size: 20px !important;
        font-weight: 600 !important;
        line-height: 1.5 !important;
    }
}

.formxtra-cf7-doc-notice {
    background: #e3f3ff;
    margin-top: 25px;
    font-size: 14px;
    padding: 10px 20px 15px;
    border-radius: 3px;
    margin-bottom: 25px;

    &:before {
        content: "\f14c";
        font-family: dashicons;
        font-size: 18px;
        padding-right: 8px;
    }
}

// #formxtra-cf7-redirect-panel-tab,
// #formxtra-cf7-redirect-panel-tab.ui-tabs-active,
// #uacf7-repeater-panel-tab.ui-tabs-active,
// #uacf7-mailchimp-panel-tab.ui-tabs-active,
// #uacf7-telegram-panel-tab.ui-tabs-active,
// #uacf7-cf-panel-tab.ui-tabs-active,
// #uacf7-placeholder-panel-tab.ui-tabs-active,
// #uacf7-pdf-generator-panel-tab.ui-tabs-active,
// #uacf7-multistep-panel-tab.ui-tabs-active,
// #uacf7-conversational-panel-tab.ui-tabs-active,
// #uacf7-uacf7style-panel-tab.ui-tabs-active,
// #uacf7-range-slider-panel-tab.ui-tabs-active,
// #uacf7-auto-product-cart-panel-tab.ui-tabs-active,
// #uacf7-post-submission-panel-tab.ui-tabs-active,
// #uacf7-pre-populate-panel-tab.ui-tabs-active,
// #uacf7-mailchimp-panel-tab.ui-tabs-active {
//     border: 2px solid #473080 !important;
//     background: #fff !important;
// }

// #formxtra-cf7-redirect-panel,
// #uacf7-redirect-panel,
// #uacf7-repeater-panel,
// #uacf7-mailchimp-panel,
// #uacf7-telegram-panel,
// #uacf7-auto-product-cart-panel,
// #uacf7-bf-panel,
// #uacf7-cf-panel,
// #uacf7-placeholder-panel,
// #uacf7-pdf-generator-panel,
// #uacf7-multistep-panel,
// #uacf7-conversational-panel,
// #uacf7-uacf7style-panel,
// #uacf7-range-slider-panel,
// #uacf7-pre-populate-panel,
// #ultimate-conv-admin-panel,
// #uacf7-post-submission-panel,
// #uacf7-post-submission-panel,
// #uacf7-submission-id-panel,
// #uacf7-signature-panel {
//     background: #fff !important;
//     padding: 20px 50px 50px !important;
//     font-size: 16px;
//     line-height: 1.5;
// }

// #uacf7-repeater-panel h2,
// #uacf7-redirect-panel h2,
// #uacf7-auto-product-cart-panel h2,
// #uacf7-mailchimp-panel h2,
// #uacf7-telegram-panel h2,
// #uacf7-bf-panel h2,
// #uacf7-cf-panel h2,
// #uacf7-placeholder-panel h2,
// #uacf7-pdf-generator-panel h2,
// #uacf7-multistep-panel h2,
// #uacf7-conversational-panel h2,
// #uacf7-uacf7style-panel h2,
// #uacf7-range-slider-panel h2,
// #uacf7-post-submission-panel h2,
// #uacf7-pre-populate-panel h2,
// #uacf7-mailchimp-panel-tab h2,
// #uacf7-submission-id-panel h2,
// #uacf7-signature-panel h2 {
//     font-size: 20px !important;
//     font-weight: 600 !important;
//     line-height: 1.5 !important;
// }
