@mixin borderBG() {
    border: 2px solid #473080 !important;
    background: #fff !important;
}

@mixin tabsHoverBorderBG() {
    border: 2px solid #281266 !important;
    background: #281266 !important;
}
